{% extends "base.html" %}

{% block content %}
<html>
 <head>
</head>
<body>
        <div id="post" style="width:50%" class="container">
            <br>
            <h2>Change Password</h2>
            <form action="" method="post" name="changeusername">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    <label for="current_password_hash" class="form-label">Current Password</label>
                    {{ form.current_password_hash(class="form-control", id="current_password_hash") }}
                    {% for error in form.current_password_hash.errors %}
                      <div class="form-text text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="password_hash" class="form-label">New Password</label>
                    {{ form.password_hash(class="form-control", id="password_hash") }}
                    {% for error in form.password_hash.errors %}
                      <div class="form-text text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <br>
            </form>
            <br>
        </div>


    </body>
</html>
{% endblock %}