{% extends "base2.html" %}

{% block content %}
<html>
 <head>
</head>
<body>
        <br>
        <h1 style="text-align: center">LeedsHub</h1>
        <h2 style="color:grey; text-align: center">Where Leeds Students Unite</h2>
        <h3 style="text-align: center">Join the community now!</h3>
        <br>
        <div id="post" style="width:50%" class="container">
            <br>
            <h2>Sign in</h2>
            <form action="" method="post" name="login">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    {{ form.username(class="form-control", id="username") }}
                    {% for error in form.username.errors %}
                      <div class="form-text text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="password_hash" class="form-label">Password</label>
                    {{ form.password_hash(class="form-control", id="password_hash") }}
                    {% for error in form.password_hash.errors %}
                      <div class="form-text text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" style="color:white; background-color:blue" class="btn btn-primary">Submit</button>
                <br>
                <br>
                <a style="color:blue" href="register">Don't have an account? Register here</a>
            </form>
            <br>
        </div>


    </body>
</html>
{% endblock %}